version: '3'

services: 
    postgresql01:
        image: postgres:latest
        volumes: 
            - ./config/db/init.sql:/docker-entrypoint-initdb.d/
            - postgresdb:/var/lib/postgresql/data
        env_file: 
            - config/db/env
        networks: 
            - bookapi

    bookservice01:
        build: 
            context: .
            dockerfile: Dockerfile
        depends_on: 
            - postgresql01
        env_file: 
            - config/app/.env
        ports: 
            - 8083:8000
        networks: 
            - bookapi

networks: 
    bookapi:
        driver: bridge

volumes: 
    postgresdb:


